<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test enabled="true" verbose="1" preserve-order="true" name="TestFeatureOne">
        <classes>
            <class name="com.teltov.tests.TestFeatureOne"/>
            <class name="com.teltov.tests.TestFeatureTwo"/>
        </classes>
    </test>
</suite>